In [1]:
import numpy as np
import pandas as pd 
import requests 
from scipy import stats 
import math

In [2]:
IEX_CLOUD_API_TOKEN = 'Tpk_059b97af715d417d9f49f50b51b1c448'

df = pd.read_csv('S&P500.csv')
df.head()

  Symbol
0      A
1    AAL
2    AAP
3   AAPL
4   ABBV

In [3]:
Companies = {}  # stores company names along with mkt cap and latest price
Companies['Name'] = []
Companies['CMP'] = []
Companies['1 year change'] = []


def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]
        
batches  = list(chunks(df['Symbol'], 100)) # 

for i in range(len(batches)):
    batch = (','.join(batches[i]))
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={batch}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for company in batch.split(','):
        Companies['Name'].append(company)
        Companies['CMP'].append(data[company]['quote']['latestPrice'])
        Companies['1 year change'].append(data[company]['stats']['year1ChangePercent'])
        

df = pd.DataFrame(Companies)
df

     Name     CMP  1 year change
0       A  127.13      -0.174710
1     AAL   14.20      -0.389869
2     AAP  189.60      -0.066549
3    AAPL  147.07       0.068332
4    ABBV  158.17       0.393122
..    ...     ...            ...
497   YUM  119.25      -0.004964
498   ZBH  112.21      -0.337914
499  ZBRA  323.92      -0.404897
500  ZION   53.41      -0.016967
501   ZTS  177.54      -0.053080

[502 rows x 3 columns]

In [4]:
df = df.sort_values(by = '1 year change' , ascending = False)
df

     Name     CMP  1 year change
148   DVN   54.77       0.959554
354   OXY   59.10       0.841403
296   MCK  330.81       0.731161
90     CF   83.42       0.688159
40    APA   37.38       0.654799
..    ...     ...            ...
295  MCHP   62.66      -0.616600
84    CCL   11.36      -0.621134
328  NFLX  194.48      -0.644189
207   GPS    9.79      -0.730412
386  PYPL   79.23      -0.770199

[502 rows x 3 columns]

In [5]:
top50 = df.head(50)
top50.reset_index(inplace = True)

In [6]:
top50.head(5)

   index Name     CMP  1 year change
0    148  DVN   54.77       0.959554
1    354  OXY   59.10       0.841403
2    296  MCK  330.81       0.731161
3     90   CF   83.42       0.688159
4     40  APA   37.38       0.654799

In [7]:
portfolio_size = 100000

In [8]:
# shares to buy 
# allocating equal amount for each share

# Shares for each company
amount = portfolio_size/len(top50['Name'])

pd.set_option('mode.chained_assignment', None)
top50['Shares to buy'] = 0
for i in range(len(top50['Name'])):
    top50['Shares to buy'][i] = math.floor(amount/top50['CMP'][i])
    
top50

    index  Name      CMP  1 year change  Shares to buy
0     148   DVN    54.77       0.959554             36
1     354   OXY    59.10       0.841403             33
2     296   MCK   330.81       0.731161              6
3      90    CF    83.42       0.688159             23
4      40   APA    37.38       0.654799             53
5     315   MRO    22.84       0.639614             87
6     139  DLTR   160.54       0.611519             12
7     119  CTRA    27.52       0.608069             72
8     109   COP    95.02       0.549019             21
9     471  VRTX   303.89       0.525280              6
10    310   MOS    48.56       0.508728             41
11     52   AZO  2207.11       0.507752              0
12    269   KSU   297.79       0.506786              6
13    385   PXD   230.18       0.495175              8
14    311   MPC    89.03       0.439823             22
15    494   XOM    90.60       0.428735             22
16    278   LLY   340.30       0.421244              5
17    171   EXC    43.60       0.415446             45
18    486   WRB    68.96       0.407011             29
19      4  ABBV   158.17       0.393122             12
20    161   EOG   113.65       0.387744             17
21    384   PWR   131.70       0.386985             15
22     22   ALB   228.36       0.373930              8
23    363   PFE    53.59       0.364328             37
24    124   CVX   151.78       0.351907             13
25    466   VLO   105.14       0.338079             19
26    154    ED    96.34       0.316618             20
27      5   ABC   151.65       0.314101             13
28    211   HAL    31.12       0.313634             64
29    176  FANG   120.60       0.298257             16
30    228   HSY   223.26       0.291258              8
31    333   NOC   483.40       0.272973              4
32    313   MRK    93.25       0.269550             21
33    459   UNH   499.12       0.268429              4
34    268    KR    48.92       0.265782             40
35     37  ANTM   490.13       0.262531              4
36    348   OGN    37.48       0.251883             53
37     65   BKR    29.68       0.251353             67
38    110  COST   488.96       0.244589              4
39     68   BMY    80.79       0.244343             24
40    193  FTNT    61.51       0.241695             32
41     11   ADM    74.91       0.237308             26
42    366   PGR   119.93       0.236211             16
43    143   DRE    59.98       0.230536             33
44     80    CB   198.04       0.227947             10
45    198   GIS    73.44       0.224861             27
46    121  CTVA    53.57       0.224501             37
47    402   RSG   131.80       0.223924             15
48    224   HPQ    36.48       0.219865             54
49    238  INFO   113.76       0.218396             17

In [9]:
#filtering high quality momentum stocks -> steady returns
#low quality momtum stocks -> sudden jump
df1 = pd.read_csv('S&P500.csv')

Companies = {}  # stores company names along with mkt cap and latest price
Companies['Name'] = []
Companies['CMP'] = []
Companies['6 month change'] = []
Companies['6 month %ile'] = []
Companies['1 year change'] = []
Companies['1 year %ile'] = []
Companies['2 year change'] = []
Companies['2 year %ile'] = []
Companies['momentum score'] = []

batches  = list(chunks(df1['Symbol'], 100)) 

for i in range(len(batches)):
    batch = (','.join(batches[i]))
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={batch}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for company in batch.split(','):
        Companies['Name'].append(company)
        Companies['CMP'].append(data[company]['quote']['latestPrice'])
        Companies['1 year change'].append(data[company]['stats']['year1ChangePercent'])
        Companies['2 year change'].append(data[company]['stats']['year2ChangePercent'])
        Companies['6 month change'].append(data[company]['stats']['month6ChangePercent'])
        Companies['6 month %ile'].append(0)
        Companies['1 year %ile'].append(0)
        Companies['2 year %ile'].append(0)
        Companies['momentum score'].append(0)

df1 = pd.DataFrame(Companies)
df1

,Name,CMP,6 month change,6 month %ile,1 year change,1 year %ile,2 year change,2 year %ile,momentum score
0,A,121.97,-0.239170,0,-0.174170,0,0.427574,0,0
1,AAL,14.10,-0.247118,0,-0.381719,0,0.068633,0,0
2,AAP,186.70,-0.202120,0,-0.066337,0,0.337403,0,0
3,AAPL,143.82,-0.200199,0,0.068608,0,0.621211,0,0
4,ABBV,157.42,0.168435,0,0.401501,0,0.775049,0,0
...,...,...,...,...,...,...,...,...,...
497,YUM,119.63,-0.148850,0,-0.004949,0,0.376433,0,0
498,ZBH,110.00,-0.141301,0,-0.349339,0,-0.068376,0,0
499,ZBRA,309.45,-0.492327,0,-0.410664,0,0.237990,0,0
500,ZION,55.72,-0.148214,0,-0.016544,0,0.629431,0,0
501,ZTS,178.11,-0.286202,0,-0.055119,0,0.318811,0,0

In [10]:
for i in range(len(df1['Name'])):
    df1['6 month %ile'][i] = stats.percentileofscore(df1['6 month change'],df1['6 month change'][i])/100
    df1['1 year %ile'][i] = stats.percentileofscore(df1['1 year change'],df1['1 year change'][i])/100
    df1['2 year %ile'][i] = stats.percentileofscore(df1['2 year change'],df1['2 year change'][i])/100
    df1['momentum score'][i] = (df1['6 month %ile'][i]+df1['1 year %ile'][i]+df1['2 year %ile'][i])/3

df1.head()

,Name,CMP,6 month change,6 month %ile,1 year change,1 year %ile,2 year change,2 year %ile,momentum score
0,A,121.97,-0.239170,0.306773,-0.174170,0.308765,0.427574,0.581673,0.399070
1,AAL,14.10,-0.247118,0.284861,-0.381719,0.083665,0.068633,0.199203,0.189243
2,AAP,186.70,-0.202120,0.398406,-0.066337,0.529880,0.337403,0.478088,0.468792
3,AAPL,143.82,-0.200199,0.406375,0.068608,0.729084,0.621211,0.741036,0.625498
4,ABBV,157.42,0.168435,0.926295,0.401501,0.962151,0.775049,0.834661,0.907703

In [11]:
# now selecting top 50 based on momentum score
df1 = df1.sort_values(by = 'momentum score' , ascending = False)
top50 = df1.head(50)
top50.reset_index(inplace = True)
top50.head()

,index,Name,CMP,6 month change,6 month %ile,1 year change,1 year %ile,2 year change,2 year %ile,momentum score
0,354,OXY,57.93,1.038877,1.000000,0.857945,0.998008,2.224646,0.988048,0.995352
1,148,DVN,55.11,0.330034,0.980080,0.976500,1.000000,4.522603,1.000000,0.993360
2,315,MRO,22.74,0.402305,0.990040,0.642162,0.990040,2.971370,0.994024,0.991368
3,296,MCK,322.43,0.349300,0.982072,0.744792,0.996016,1.210439,0.948207,0.975432
4,385,PXD,227.60,0.309147,0.974104,0.497365,0.974104,1.710254,0.976096,0.974768

In [12]:
portfolio_size = 100000


pd.set_option('mode.chained_assignment', None)
top50['Shares to buy'] = 0
for i in range(len(top50['Name'])):
    top50['Shares to buy'][i] = math.floor(amount/top50['CMP'][i])
    
top50

,index,Name,CMP,6 month change,6 month %ile,1 year change,1 year %ile,2 year change,2 year %ile,momentum score,Shares to buy
0,354,OXY,57.93,1.038877,1.000000,0.857945,0.998008,2.224646,0.988048,0.995352,34
1,148,DVN,55.11,0.330034,0.980080,0.976500,1.000000,4.522603,1.000000,0.993360,36
2,315,MRO,22.74,0.402305,0.990040,0.642162,0.990040,2.971370,0.994024,0.991368,87
3,296,MCK,322.43,0.349300,0.982072,0.744792,0.996016,1.210439,0.948207,0.975432,6
4,385,PXD,227.60,0.309147,0.974104,0.497365,0.974104,1.710254,0.976096,0.974768,8
5,311,MPC,85.92,0.381575,0.984064,0.421246,0.966135,1.567538,0.970120,0.973440,23
6,494,XOM,87.10,0.455464,0.996016,0.422014,0.968127,1.238935,0.956175,0.973440,22
7,310,MOS,48.80,0.198182,0.944223,0.509979,0.978088,2.990691,0.996016,0.972776,40
8,109,COP,94.17,0.307683,0.972112,0.534280,0.982072,1.424754,0.964143,0.972776,21
9,211,HAL,32.33,0.384048,0.986056,0.321746,0.946215,1.656418,0.972112,0.968127,61
10,161,EOG,113.38,0.324198,0.978088,0.376360,0.960159,1.530372,0.966135,0.968127,17
11,90,CF,85.45,0.163549,0.924303,0.690290,0.994024,2.182955,0.986056,0.968127,23
12,40,APA,36.86,0.409604,0.994024,0.675266,0.992032,0.896919,0.884462,0.956839,54
13,466,VLO,107.57,0.496655,0.998008,0.337116,0.950199,1.040992,0.916335,0.954847,18
14,278,LLY,326.42,0.203469,0.952191,0.435379,0.972112,1.147485,0.936255,0.953519,6
15,384,PWR,130.84,0.129829,0.892430,0.376245,0.958167,2.399566,0.990040,0.946879,15
16,176,FANG,120.10,0.142822,0.908367,0.301162,0.942231,2.076536,0.982072,0.944223,16
17,65,BKR,29.88,0.195185,0.940239,0.244131,0.924303,1.160727,0.940239,0.934927,66
18,486,WRB,71.16,0.292715,0.968127,0.409190,0.964143,0.877161,0.870518,0.934263,28
19,217,HES,104.03,0.393530,0.988048,0.171134,0.866534,1.168961,0.944223,0.932935,19
20,121,CTVA,55.72,0.162792,0.922311,0.221429,0.904382,1.112003,0.932271,0.919655,35
21,11,ADM,74.80,0.151081,0.916335,0.237372,0.920319,1.008256,0.912351,0.916335,26
22,139,DLTR,158.41,0.148808,0.912351,0.594566,0.986056,0.777923,0.836653,0.911687,12
23,171,EXC,45.40,0.138094,0.906375,0.424624,0.970120,0.815356,0.848606,0.908367,44
24,52,AZO,2207.57,0.074490,0.844622,0.507861,0.976096,0.990572,0.904382,0.908367,0
25,4,ABBV,157.42,0.168435,0.926295,0.401501,0.962151,0.775049,0.834661,0.907703,12
26,228,HSY,227.53,0.180748,0.936255,0.286066,0.940239,0.743120,0.818725,0.898406,8
27,124,CVX,148.71,0.243648,0.962151,0.368424,0.952191,0.662414,0.778884,0.897742,13
28,484,WMB,30.53,0.198506,0.946215,0.190706,0.884462,0.836846,0.858566,0.896414,65
29,22,ALB,226.28,-0.010120,0.747012,0.371174,0.956175,2.141210,0.984064,0.895750,8
30,160,ENPH,200.08,0.055205,0.828685,0.167700,0.860558,3.310000,0.998008,0.895750,9
31,269,KSU,300.93,-0.000533,0.758964,0.525439,0.980080,0.983644,0.902390,0.880478,6
32,119,CTRA,27.02,0.402673,0.992032,0.605627,0.988048,0.519888,0.655378,0.878486,74
33,458,ULTA,416.04,0.048545,0.818725,0.172256,0.868526,1.090371,0.930279,0.872510,4
34,37,ANTM,481.68,0.037231,0.806773,0.258325,0.930279,0.881965,0.874502,0.870518,4
35,333,NOC,472.70,0.228952,0.960159,0.276847,0.938247,0.585987,0.705179,0.867862,4
36,246,IRM,49.88,-0.011602,0.745020,0.204534,0.896414,1.283211,0.960159,0.867198,40
37,411,SLB,35.44,0.197443,0.942231,0.069094,0.731076,1.059812,0.926295,0.866534,56
38,366,PGR,119.78,0.154043,0.918327,0.234189,0.918327,0.630833,0.754980,0.863878,16
39,5,ABC,149.92,0.158948,0.920319,0.311115,0.944223,0.563258,0.695219,0.853254,13
40,19,AIZ,173.29,0.149031,0.914343,0.126691,0.810757,0.768113,0.832669,0.852590,11
41,459,UNH,496.24,0.007247,0.776892,0.266856,0.934263,0.798407,0.844622,0.851926,4
42,339,NUE,115.12,-0.021206,0.723108,0.153107,0.852590,1.955015,0.978088,0.851262,17
43,224,HPQ,35.61,-0.051796,0.683267,0.224597,0.906375,1.307889,0.962151,0.850598,56
44,320,MTB,169.15,0.116048,0.876494,0.158046,0.856574,0.715964,0.800797,0.844622,11
45,300,MET,66.41,0.054914,0.826693,0.104789,0.786853,0.973865,0.894422,0.835989,30
46,268,KR,49.46,0.131169,0.894422,0.272463,0.936255,0.542142,0.677291,0.835989,40
47,195,GD,222.97,0.098898,0.868526,0.212662,0.900398,0.608322,0.735060,0.834661,8
48,68,BMY,81.74,0.295048,0.970120,0.241330,0.922311,0.459319,0.609562,0.833997,24
49,20,AJG,169.27,-0.000837,0.756972,0.192722,0.886454,0.815972,0.852590,0.832005,11