In [1]:
import numpy as np
import pandas as pd 
import requests 
from scipy import stats 
import math

In [2]:
IEX_CLOUD_API_TOKEN = 'Tpk_059b97af715d417d9f49f50b51b1c448'

df = pd.read_csv('S&P500.csv')
df.head()

  Symbol
0      A
1    AAL
2    AAP
3   AAPL
4   ABBV

In [3]:
Companies = {}  # stores company names along with mkt cap and latest price
Companies['Name'] = []
Companies['CMP'] = []
Companies['1 year change'] = []


def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]
        
batches  = list(chunks(df['Symbol'], 100)) # 

for i in range(len(batches)):
    batch = (','.join(batches[i]))
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={batch}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for company in batch.split(','):
        Companies['Name'].append(company)
        Companies['CMP'].append(data[company]['quote']['latestPrice'])
        Companies['1 year change'].append(data[company]['stats']['year1ChangePercent'])
        

df = pd.DataFrame(Companies)
df

     Name     CMP  1 year change
0       A  125.83      -0.172606
1     AAL   14.60      -0.387994
2     AAP  186.10      -0.085574
3    AAPL  145.93       0.073447
4    ABBV  154.85       0.424133
..    ...     ...            ...
497   YUM  116.75      -0.007243
498   ZBH  112.71      -0.340551
499  ZBRA  312.37      -0.413893
500  ZION   54.52      -0.038818
501   ZTS  175.68      -0.062989

[502 rows x 3 columns]

In [4]:
df = df.sort_values(by = '1 year change' , ascending = False)
df

     Name     CMP  1 year change
148   DVN   54.08       0.954768
354   OXY   59.23       0.767973
296   MCK  330.64       0.705171
40    APA   37.74       0.667211
90     CF   87.12       0.657666
..    ...     ...            ...
236  ILMN  201.73      -0.617813
84    CCL   11.15      -0.644133
328  NFLX  193.09      -0.665110
207   GPS    9.51      -0.737357
386  PYPL   81.53      -0.752839

[502 rows x 3 columns]

In [5]:
top50 = df.head(50)
top50.reset_index(inplace = True)

In [6]:
top50.head(5)

   index Name     CMP  1 year change
0    148  DVN   54.08       0.954768
1    354  OXY   59.23       0.767973
2    296  MCK  330.64       0.705171
3     40  APA   37.74       0.667211
4     90   CF   87.12       0.657666

In [7]:
portfolio_size = 100000

In [8]:
# shares to buy 
# allocating equal amount for each share

# Shares for each company
amount = portfolio_size/len(top50['Name'])

pd.set_option('mode.chained_assignment', None)
top50['Shares to buy'] = 0
for i in range(len(top50['Name'])):
    top50['Shares to buy'][i] = math.floor(amount/top50['CMP'][i])
    
top50

    index  Name      CMP  1 year change  Shares to buy
0     148   DVN    54.08       0.954768             36
1     354   OXY    59.23       0.767973             33
2     296   MCK   330.64       0.705171              6
3      40   APA    37.74       0.667211             52
4      90    CF    87.12       0.657666             22
5     139  DLTR   165.03       0.620881             12
6     315   MRO    22.12       0.597693             90
7     119  CTRA    26.39       0.584446             75
8     269   KSU   308.07       0.530676              6
9     109   COP    92.47       0.529481             21
10    310   MOS    48.75       0.524778             41
11    471  VRTX   294.38       0.515449              6
12     52   AZO  2252.33       0.473407              0
13    385   PXD   229.57       0.468059              8
14    278   LLY   338.49       0.435264              5
15    311   MPC    86.10       0.429946             23
16    494   XOM    88.00       0.424193             22
17      4  ABBV   154.85       0.424133             12
18    171   EXC    43.86       0.409688             45
19    486   WRB    69.80       0.384801             28
20    363   PFE    52.13       0.372730             38
21    384   PWR   127.22       0.372168             15
22     22   ALB   230.98       0.369978              8
23    124   CVX   149.92       0.366369             13
24    161   EOG   112.47       0.366283             17
25    466   VLO   105.63       0.340516             18
26    211   HAL    32.19       0.316535             62
27    154    ED    97.08       0.314194             20
28      5   ABC   150.35       0.294461             13
29    176  FANG   120.50       0.272175             16
30    228   HSY   226.92       0.268140              8
31    333   NOC   483.60       0.266814              4
32    268    KR    50.48       0.263288             39
33     37  ANTM   473.33       0.259556              4
34    313   MRK    97.20       0.255749             20
35    459   UNH   518.60       0.250255              3
36    110  COST   494.19       0.245572              4
37     65   BKR    28.79       0.244911             69
38     11   ADM    74.67       0.239866             26
39    348   OGN    36.85       0.238439             54
40    121  CTVA    55.90       0.231113             35
41    143   DRE    60.16       0.226743             33
42     68   BMY    82.31       0.225018             24
43    193  FTNT    61.18       0.223413             32
44    366   PGR   118.31       0.220264             16
45     80    CB   197.38       0.219426             10
46    224   HPQ    36.57       0.217682             54
47    238  INFO   108.65       0.216394             18
48    402   RSG   133.40       0.214642             14
49    198   GIS    71.61       0.213744             27

In [9]:
#filtering high quality momentum stocks -> steady returns
#low quality momtum stocks -> sudden jump
df1 = pd.read_csv('S&P500.csv')

Companies = {}  # stores company names along with mkt cap and latest price
Companies['Name'] = []
Companies['CMP'] = []
Companies['6 month change'] = []
Companies['6 month %ile'] = []
Companies['1 year change'] = []
Companies['1 year %ile'] = []
Companies['2 year change'] = []
Companies['2 year %ile'] = []
Companies['momentum score'] = []

batches  = list(chunks(df1['Symbol'], 100)) 

for i in range(len(batches)):
    batch = (','.join(batches[i]))
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={batch}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for company in batch.split(','):
        Companies['Name'].append(company)
        Companies['CMP'].append(data[company]['quote']['latestPrice'])
        Companies['1 year change'].append(data[company]['stats']['year1ChangePercent'])
        Companies['2 year change'].append(data[company]['stats']['year2ChangePercent'])
        Companies['6 month change'].append(data[company]['stats']['month6ChangePercent'])
        Companies['6 month %ile'].append(0)
        Companies['1 year %ile'].append(0)
        Companies['2 year %ile'].append(0)
        Companies['momentum score'].append(0)

df1 = pd.DataFrame(Companies)
df1

,Name,CMP,6 month change,6 month %ile,1 year change,1 year %ile,2 year change,2 year %ile,momentum score
0,A,123.04,-0.230911,0,-0.173211,0,0.412201,0,0
1,AAL,14.20,-0.242724,0,-0.386325,0,0.057666,0,0
2,AAP,184.00,-0.201012,0,-0.081707,0,0.326629,0,0
3,AAPL,143.12,-0.198277,0,0.072672,0,0.592586,0,0
4,ABBV,153.63,0.170202,0,0.417761,0,0.731250,0,0
...,...,...,...,...,...,...,...,...,...
497,YUM,119.29,-0.147283,0,-0.007265,0,0.378928,0,0
498,ZBH,111.82,-0.142801,0,-0.349738,0,-0.042512,0,0
499,ZBRA,321.90,-0.488510,0,-0.406294,0,0.219603,0,0
500,ZION,55.69,-0.147596,0,-0.040127,0,0.576809,0,0
501,ZTS,183.24,-0.279236,0,-0.062788,0,0.309342,0,0

In [10]:
for i in range(len(df1['Name'])):
    df1['6 month %ile'][i] = stats.percentileofscore(df1['6 month change'],df1['6 month change'][i])/100
    df1['1 year %ile'][i] = stats.percentileofscore(df1['1 year change'],df1['1 year change'][i])/100
    df1['2 year %ile'][i] = stats.percentileofscore(df1['2 year change'],df1['2 year change'][i])/100
    df1['momentum score'][i] = (df1['6 month %ile'][i]+df1['1 year %ile'][i]+df1['2 year %ile'][i])/3

df1.head()

,Name,CMP,6 month change,6 month %ile,1 year change,1 year %ile,2 year change,2 year %ile,momentum score
0,A,123.04,-0.230911,0.330677,-0.173211,0.324701,0.412201,0.573705,0.409695
1,AAL,14.20,-0.242724,0.300797,-0.386325,0.081673,0.057666,0.197211,0.193227
2,AAP,184.00,-0.201012,0.400398,-0.081707,0.511952,0.326629,0.476096,0.462815
3,AAPL,143.12,-0.198277,0.404382,0.072672,0.747012,0.592586,0.733068,0.628154
4,ABBV,153.63,0.170202,0.926295,0.417761,0.966135,0.731250,0.822709,0.905046

In [11]:
# now selecting top 50 based on momentum score
df1 = df1.sort_values(by = 'momentum score' , ascending = False)
top50 = df1.head(50)
top50.reset_index(inplace = True)
top50.head()

,index,Name,CMP,6 month change,6 month %ile,1 year change,1 year %ile,2 year change,2 year %ile,momentum score
0,354,OXY,57.79,1.032566,1.000000,0.762711,0.998008,2.176186,0.986056,0.994688
1,148,DVN,55.01,0.337692,0.980080,0.974614,1.000000,4.330973,1.000000,0.993360
2,315,MRO,22.28,0.390344,0.988048,0.592795,0.988048,2.889125,0.994024,0.990040
3,296,MCK,321.95,0.350172,0.982072,0.724042,0.996016,1.211610,0.956175,0.978088
4,311,MPC,89.57,0.388748,0.986056,0.431405,0.970120,1.519867,0.970120,0.975432

In [12]:
portfolio_size = 100000
amount = portfolio_size/50

pd.set_option('mode.chained_assignment', None)
top50['Shares to buy'] = 0
for i in range(len(top50['Name'])):
    top50['Shares to buy'][i] = math.floor(amount/top50['CMP'][i])
    
top50

,index,Name,CMP,6 month change,6 month %ile,1 year change,1 year %ile,2 year change,2 year %ile,momentum score,Shares to buy
0,354,OXY,57.79,1.032566,1.000000,0.762711,0.998008,2.176186,0.986056,0.994688,34
1,148,DVN,55.01,0.337692,0.980080,0.974614,1.000000,4.330973,1.000000,0.993360,36
2,315,MRO,22.28,0.390344,0.988048,0.592795,0.988048,2.889125,0.994024,0.990040,89
3,296,MCK,321.95,0.350172,0.982072,0.724042,0.996016,1.211610,0.956175,0.978088,6
4,311,MPC,89.57,0.388748,0.986056,0.431405,0.970120,1.519867,0.970120,0.975432,22
5,310,MOS,48.32,0.197192,0.944223,0.511689,0.980080,2.968235,0.996016,0.973440,41
6,109,COP,93.53,0.310371,0.974104,0.537277,0.984064,1.350835,0.962151,0.973440,21
7,385,PXD,232.45,0.308528,0.972112,0.476092,0.974104,1.596265,0.974104,0.973440,8
8,494,XOM,91.10,0.460100,0.996016,0.424049,0.968127,1.192714,0.954183,0.972776,21
9,90,CF,85.82,0.162115,0.922311,0.681982,0.994024,2.283190,0.988048,0.968127,23
10,211,HAL,31.08,0.376872,0.984064,0.308970,0.946215,1.576299,0.972112,0.967463,64
11,161,EOG,113.61,0.326652,0.978088,0.356427,0.952191,1.470871,0.968127,0.966135,17
12,40,APA,37.72,0.424773,0.994024,0.675702,0.992032,0.926347,0.894422,0.960159,53
13,466,VLO,104.13,0.500388,0.998008,0.338685,0.950199,1.059568,0.930279,0.959495,19
14,278,LLY,327.87,0.206660,0.954183,0.438013,0.972112,1.108506,0.940239,0.955511,6
15,384,PWR,131.60,0.129912,0.888446,0.371775,0.960159,2.321620,0.990040,0.946215,15
16,176,FANG,121.10,0.143475,0.908367,0.271950,0.942231,1.949749,0.982072,0.944223,16
17,65,BKR,29.03,0.198561,0.946215,0.247023,0.930279,1.061195,0.932271,0.936255,68
18,486,WRB,69.99,0.293419,0.968127,0.389818,0.962151,0.841158,0.868526,0.932935,28
19,217,HES,102.09,0.401717,0.990040,0.154589,0.862550,1.109540,0.942231,0.931607,19
20,121,CTVA,54.86,0.166472,0.924303,0.237791,0.924303,1.105891,0.938247,0.928951,36
21,11,ADM,75.42,0.154167,0.918327,0.245178,0.928287,0.967950,0.902390,0.916335,26
22,171,EXC,45.18,0.134939,0.900398,0.406701,0.964143,0.846370,0.870518,0.911687,44
23,52,AZO,2202.53,0.072369,0.842629,0.481788,0.976096,0.999967,0.916335,0.911687,0
24,139,DLTR,159.76,0.153384,0.916335,0.614142,0.990040,0.722156,0.814741,0.907039,12
25,4,ABBV,153.63,0.170202,0.926295,0.417761,0.966135,0.731250,0.822709,0.905046,13
26,119,CTRA,26.92,0.406691,0.992032,0.579267,0.986056,0.584879,0.727092,0.901726,74
27,484,WMB,31.03,0.195168,0.942231,0.195457,0.894422,0.808391,0.858566,0.898406,64
28,228,HSY,226.91,0.174278,0.930279,0.263222,0.936255,0.738578,0.828685,0.898406,8
29,124,CVX,146.43,0.250420,0.964143,0.358131,0.954183,0.648976,0.774900,0.897742,13
30,22,ALB,226.69,-0.010486,0.747012,0.365197,0.956175,2.101885,0.984064,0.895750,8
31,160,ENPH,206.32,0.054999,0.826693,0.134067,0.840637,3.423606,0.998008,0.888446,9
32,269,KSU,297.73,-0.000518,0.758964,0.509294,0.978088,1.019496,0.924303,0.887118,6
33,458,ULTA,422.65,0.048376,0.818725,0.179060,0.880478,1.130700,0.944223,0.881142,4
34,333,NOC,467.10,0.228725,0.960159,0.264852,0.938247,0.600695,0.739044,0.879150,4
35,37,ANTM,473.40,0.036660,0.806773,0.257662,0.932271,0.853662,0.874502,0.871182,4
36,246,IRM,51.40,-0.011837,0.745020,0.211683,0.900398,1.270896,0.958167,0.867862,38
37,411,SLB,36.07,0.193259,0.940239,0.066624,0.737052,0.987447,0.910359,0.862550,55
38,339,NUE,115.35,-0.021199,0.725100,0.175191,0.878486,1.830106,0.978088,0.860558,17
39,19,AIZ,173.76,0.148342,0.910359,0.106466,0.800797,0.803396,0.856574,0.855910,11
40,5,ABC,148.75,0.160011,0.920319,0.300104,0.944223,0.531698,0.685259,0.849934,13
41,224,HPQ,36.20,-0.053264,0.681275,0.217840,0.906375,1.299032,0.960159,0.849270,55
42,459,UNH,506.21,0.007156,0.776892,0.245022,0.926295,0.748121,0.840637,0.847942,3
43,268,KR,49.40,0.131152,0.894422,0.266893,0.940239,0.554492,0.705179,0.846614,40
44,366,PGR,120.05,0.153062,0.914343,0.222637,0.910359,0.566071,0.711155,0.845286,16
45,426,SYY,85.68,0.133962,0.898406,0.138496,0.848606,0.659307,0.780876,0.842629,23
46,195,GD,231.34,0.102748,0.870518,0.204559,0.898406,0.608008,0.745020,0.837981,8
47,320,MTB,172.74,0.116206,0.876494,0.129263,0.834661,0.700309,0.802789,0.837981,11
48,68,BMY,80.27,0.298266,0.970120,0.227201,0.916335,0.466373,0.623506,0.836653,24
49,300,MET,65.58,0.055223,0.828685,0.085965,0.766932,0.909201,0.890438,0.828685,30